/*GENERAL*/

@font-face {
    font-family: 'Frunchysage';
    src: url('../assets/font/Frunchy_Sage/Frunchy_Sage/Frunchy.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('../assets/font/Lora/Lora/Lora-VariableFont_wght.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --title-font : 'Frunchysage',  sans-serif;
    --body-font : 'Lora', sans-serif;

    --green-color: #6C8350;
    --beige-color: #E0E0D5;

    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFF 0%, #FFF 50%, var(--green-color) 50%, var(--green-color) 100%);
}


/*HEADER SECTION*/
.devis-header {
    position:relative;
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.devis-logo {
    position: absolute;
    left: 0%;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.devis-logo img{
    width: 150px;
    display: flex;
    
}
.devis-logo img  > img  {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.devis-titre {
    font-family: var(--title-font);
    font-size: 4rem;
    color: var(--green-color);
}

.main-container {
    position: absolute;
    top: 30%;
    left: 25%;
    height: 45vh;
    width: 50vw;
    padding: 0.5rem 2rem;
    border: solid 6px black;


    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: var(--body-font);
    background-color: #FFF;
    
}

.main-container-header {
    display: flex;
    width: 100%;
    height: fit-content;
}

.contact-form {
    position: relative;
 
    margin-top: 3.2rem;
    width: 100%;
    height: min-content;
   
   display: flex; 
   flex-direction: column;
   justify-content: start;
   align-items: start;
   gap: 1rem;
}
.form-row {
    display: flex;
    gap: 2rem;
}

.form-row > div {
   flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem; /* espace entre label et input */
    
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="telephone"] {
    width: 100%;
    padding: 0.6rem;

    border-radius: 2px;
    border: 1px solid #000000;
    font-size: 1rem;
    font-family: var(--body-font);

    flex: 1;
}
.message {
    width: 100%;
}
#message {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    /* Supprime overflow: scroll; */
    resize: vertical;
    min-height: 100px; 
}

.form-footer {

    position: relative;
   width: 100%;
   
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.conditions {
    position: relative;

    margin-bottom: 2.5rem;
}

.envoyer {
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  width: fit-content;


     background: linear-gradient(90deg, #6C8350 50%,  var(--beige-color) 50%); /* Couleur initiale */
    background-size: 200% 100%; /* Double la largeur pour permettre l'animation */
    background-position: 0% 0%; /* Position initiale */
    transition: background-position 0.4s ease-in-out;
}

.envoyer button {
    padding: 1rem 1.5rem;
    color: #FFF;
  
    border: none;

}

